/* ------ Début Formulaire de contact ------ */
.contact > input:focus, .contact > textarea:focus, .contact > select:focus {
    	border-color: #66AFE9;
    	outline: 0px none;
    	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}

.contact >  input, .contact > textarea, .contact > select {
    	display: block;
    	height: 35px;
    	padding: 8px 12px;
    	font-size: 15px;
    	line-height: 1.4;
	margin: 30px 0px;
    	width: 75%;
    	resize: vertical;
    	color: #6F6F6F;
    	background-color: #FFF;
    	border: 1px solid #CCC;
    	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

button {
    	text-align: center;
    	background-image: none;
    	border: 1px solid transparent;
    	padding: 8px 12px;
    	font-size: 15px;
    	line-height: 1.4;
    	margin: 20px 5px;
}

button[type=submit]  {
    	background-image: linear-gradient(to bottom, #337AB7 0px, #265A88 100%);
    	background-repeat: repeat-x;
    	color: #FFF;
}

.contact > label {
    	position: relative;
    	margin: 20px 0px;
    	float: left;
    	width: 20%;
}
/* ------ Fin Formulaire de contact ------ */
