/* ------ Début Bas de page ------ */
footer {
    background-color: #e8e8e8;
    color:#999999;
    padding-top: 10px;
    position: absolute;
    width: 100%;
}

.flex-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .flex-item{
    padding: 8px;
    width: 350px;
    margin: 0 50px;
}

.footer a {
    color:#999999;
}

#first-footer{
    margin-bottom: 25px;
    
}

.flex-item svg {
    margin-right: 5px;
}

.end-footer {
    text-align: center;
    background-color:#6E6E6E;
    padding: 10px;
    margin:0;
    
    min-width: 300px;
}

/* ------ Fin Bas de page ------ */
