/* ------ Début Carousel ------ */
div#carousel img {
	width: 20%;
	height: 60vh;
	float: left;
	object-fit: cover;
}

div#carousel figure { 
	  position: relative;
	  width: 500%;
	  margin: 0;
	  left: 0;
	  animation: 30s slidy infinite; 
}

@keyframes slidy {
	  0% { left: 0%; }
	  20% { left: 0%; }
	  25% { left: -100%; }
	  45% { left: -100%; }
	  50% { left: -200%; }
	  70% { left: -200%; }
	  75% { left: -300%; }
	  95% { left: -300%; }
	  100% { left: -400%; }
}
/* ------ Fin Carousel ------ */
.chambre > article {
  	background:#f8f8f8;
  	border: 1px solid #f0f0f0;
  	padding: 20px;
  	margin: 20px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    overflow:auto;
}

.chambre img {
    min-width: 200px;
    width: 30%;
    float: left;
    margin: 10px 15px 0px 12px;
}

.chambre h2 {
    	margin:5px;
}

.chambre p {
  	margin:10px;
}

article {
    margin-bottom: 50px;
}

li{
    padding: 0px 0px 5px 3px;
}

