/* ------ Début Menu horizontal ------ */
.menu-horizontal a {
	position: relative;
    	color:black;
    	padding: 10px;
}
.menu-horizontal {
    	padding: 8px 10%;
    	font-size: 1.8em;
    	background: #f4f4f4F4;
}

.menu-horizontal a:hover {
    	text-decoration: none;
}

a.logo {
    	color:#ec2929; /* couleur du logo d'accueil */
    	font-family: "Ananda Black", Helvetica, sans-serif;
	transition:margin-left 0.5s;
}

a.actif {
    	font-weight: bold;
}

img {
  	max-width: 100%;
  	height: auto;
}

/* Souligne les liens du menu */
.menu-horizontal a.liens:hover:before, a.actif:hover:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 3px;
	left: 0;
	background-color: #ec2929;
}

.menu-horizontal span { color:#f4f4f4F4; } /* à éviter... */
.btn-ouvrir {
	position: absolute;
	top:5px;
	left:0;
}
/* ------ Fin Menu horizontal ------ */


/* ------ Début Menu vertical ------ */
.menu-vertical {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1; /* premier plan */
	top: 0;
	left: 0;
	background-color: #111;
	opacity: 0.9;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.menu-vertical a { 
    padding: 10px 10px 10px 30px;
	text-decoration: none;
	font-size: 22ppx;
	color:#ccc;
	display: block;
	transition: 0.3s;
}

.menu-vertical a:hover {
    color: white;
}

.menu-vertical .btn-fermer {
	position: absolute;
	top:0;
	right: 22px;
	font-size: 36px;
}

#contenu {
	transition:margin-left 0.5s;
	overflow: hidden;
}
/* ------ Fin Menu vertical ------ */