/* ----- import des autres css ----- */
@import url(menu.css);
@import url(index.css);
@import url(hotel.css);
@import url(blog.css);
@import url(contact.css);
@import url(footer.css);

/* ------ Polices ------ */
@font-face {
    	font-family: "Open Sans";
    	font-weight: small;
    	src: url('../fonts/OpenSans-Light.ttf');
}

@font-face {
    	font-family: "Ananda Black";
    	font-weight: small;
    	src: url('../fonts/Ananda-Black.ttf');
}

/* ---- style css de base ----- */
html {
    	position: relative;
		min-height: 100%;
}

body {
    	font-family: "Open Sans", Helvetica, sans-serif;    
    	overflow-x:hidden;      /* cache les scrollbar horizontales */
    	box-sizing: border-box; /* utilise toute la largeur */
    	margin: 0 0 100px;      /* 100px = hauteur du footer */
}

section {
	position: relative;
	padding: 0px 10%;
}




header > hr {
  	height: 1px;
  	background-color: lightgray;
  	border: 0;
}

h1{
    	font-weight: small;
    	font-size: 2em;
	margin-top : 20px; 
}

h2{
	font-weight: bold;
}

a {
    	color:#535352; /* couleur des liens */
    	text-decoration:none;
}

a:hover {
	text-decoration : underline;
}



/* ------ Flex-Container ------ */


.flex-container {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/* -------- Media Queries --------- */
@media(max-width: 865px) {
    .liens{display:none}
    .actif{display:none}
    .menu-horizontal a { left:-10%; }
    a.logo { left:-50px; }
    nav.menu-horizontal { white-space: nowrap; }
}

@media(max-width: 320px) {
    .logo{display: none}
}

@media(min-width: 865px) {
	.btn-ouvrir{display:none}
	.menu-horizontal a { left:10%; }
}
